CompileFlags:
  Add:
    - -I"C:/Program Files/CodeBlocks/MinGW/lib/gcc/x86_64-w64-mingw32/8.1.0/include"
    - -I"C:/Program Files/CodeBlocks/MinGW/lib/gcc/x86_64-w64-mingw32/8.1.0/include-fixed"
    - -I"C:/Program Files/CodeBlocks/MinGW/x86_64-w64-mingw32/include"
    - -Wall
    - -std=c11
